<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="The_Alchemist.Properties.Settings.ALCHEMISTConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ALCHEMIST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>